*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
data/tickers
_notebooks/2020-07-01-Predicting-Over-Budget-Projects.ipynb
data/d10y
data/finance/tickers
data/finance/u7000monthly.pkl
.DS_Store
_notebooks/rainbow_research.csv
_notebooks/rainbow_research_feature_selection.csv
